.landing-header {
  height: 100vh;
  background-image: url("../../images/christmas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.img-overlay {
  display: flex;
  background-color: rgba(51, 51, 51, 0.6);
  height: 100%;
  justify-content: center;
}

.inner-landing {
  display: flex;
  flex-direction: column;
  padding: 8px;
  text-align: center;
  align-self: center;
}

.inner-landing > h1 {
  font-size: 30px;
}

.buttons {
  margin: 20px;
}

.btn-sign {
  padding: 10px 20px;
  margin: 5px;
  background-color: tomato;
  text-decoration: none;
  color: white;
  transition: 0.3s background-color;
}

.btn-login {
  padding: 10px 20px;
  margin: 5px;
  background-color: #333;
  text-decoration: none;
  color: white;
  transition: 0.3s background-color;
}

.btn-sign:hover {
  background-color: rgb(252, 118, 94);
}

.btn-login:hover {
  background-color: rgb(82, 82, 82);
}

.landing-body {
  height: 100%;
  background-color: #333;
  border-top: 1px solid tomato;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.description {
  padding: 8px;
}

.description > h3 {
  color: tomato;
}

.icon {
  background-color: tomato;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #333;
}

.icon > i {
  font-size: 30px;
}

@media (min-width: 500px) {
  .landing-body > h2 {
    padding: 20px;
  }
  .description {
    width: 50vw;
  }
}

@media (min-width: 1000px) {
  .landing-body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .description {
    width: 40vw;
  }
  .description > hr {
    display: none;
  }
}
